# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
logs/
vendor/
etc/app.ini
micro-mall-pay
micro-mall-pay.pid
micro-mall-pay-darwin-amd64
micro-mall-pay-linux-amd64
micro-mall-pay-windows-amd64.exe
micro-mall-pay-windows-amd64
nohup.out